<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wfj.mapper.CouponTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.wfj.entity.CouponTemplate" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
    <result column="coupon_value" property="couponValue" jdbcType="VARCHAR" />
    <result column="coupon_price_limit" property="couponPriceLimit" jdbcType="VARCHAR" />
    <result column="create_userId" property="createUserid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ifdel" property="ifdel" jdbcType="INTEGER" />
    <result column="filed1" property="filed1" jdbcType="VARCHAR" />
    <result column="filed2" property="filed2" jdbcType="VARCHAR" />
    <result column="filed3" property="filed3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, coupon_type, coupon_value, coupon_price_limit, create_userId, create_time, update_time, 
    ifdel, filed1, filed2, filed3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coupon_template
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from coupon_template
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wfj.entity.CouponTemplate" >
    insert into coupon_template (sid, coupon_type, coupon_value, 
      coupon_price_limit, create_userId, create_time, 
      update_time, ifdel, filed1, 
      filed2, filed3)
    values (#{sid,jdbcType=INTEGER}, #{couponType,jdbcType=VARCHAR}, #{couponValue,jdbcType=VARCHAR}, 
      #{couponPriceLimit,jdbcType=VARCHAR}, #{createUserid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{ifdel,jdbcType=INTEGER}, #{filed1,jdbcType=VARCHAR}, 
      #{filed2,jdbcType=VARCHAR}, #{filed3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wfj.entity.CouponTemplate" >
    insert into coupon_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="couponType != null" >
        coupon_type,
      </if>
      <if test="couponValue != null" >
        coupon_value,
      </if>
      <if test="couponPriceLimit != null" >
        coupon_price_limit,
      </if>
      <if test="createUserid != null" >
        create_userId,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="ifdel != null" >
        ifdel,
      </if>
      <if test="filed1 != null" >
        filed1,
      </if>
      <if test="filed2 != null" >
        filed2,
      </if>
      <if test="filed3 != null" >
        filed3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="couponValue != null" >
        #{couponValue,jdbcType=VARCHAR},
      </if>
      <if test="couponPriceLimit != null" >
        #{couponPriceLimit,jdbcType=VARCHAR},
      </if>
      <if test="createUserid != null" >
        #{createUserid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ifdel != null" >
        #{ifdel,jdbcType=INTEGER},
      </if>
      <if test="filed1 != null" >
        #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null" >
        #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null" >
        #{filed3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wfj.entity.CouponTemplate" >
    update coupon_template
    <set >
      <if test="couponType != null" >
        coupon_type = #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="couponValue != null" >
        coupon_value = #{couponValue,jdbcType=VARCHAR},
      </if>
      <if test="couponPriceLimit != null" >
        coupon_price_limit = #{couponPriceLimit,jdbcType=VARCHAR},
      </if>
      <if test="createUserid != null" >
        create_userId = #{createUserid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ifdel != null" >
        ifdel = #{ifdel,jdbcType=INTEGER},
      </if>
      <if test="filed1 != null" >
        filed1 = #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null" >
        filed2 = #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null" >
        filed3 = #{filed3,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wfj.entity.CouponTemplate" >
    update coupon_template
    set coupon_type = #{couponType,jdbcType=VARCHAR},
      coupon_value = #{couponValue,jdbcType=VARCHAR},
      coupon_price_limit = #{couponPriceLimit,jdbcType=VARCHAR},
      create_userId = #{createUserid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ifdel = #{ifdel,jdbcType=INTEGER},
      filed1 = #{filed1,jdbcType=VARCHAR},
      filed2 = #{filed2,jdbcType=VARCHAR},
      filed3 = #{filed3,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>